* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 40px;
    color : lightgreen;
    margin-bottom: 20px;
}
input[type="text"] {
    margin-bottom: 12px;
    padding: 10px;
    width: 580px;
    font-size: 15px;
    display:block;
}
.btn {
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    border: 1px solid #d3d3d3;
    background-color: whitesmoke;
    border-radius: 2px;
    margin-right: 10px;
}
#getlnk {
    color: whitesmoke;
    background-color: #3884ff;
    border: 1px solid #166fff;
}
p {
    width: 600px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    background: rgb(202, 255, 202);
    color: green;
    border: 1px solid green;
    border-radius: 3px;
    border-bottom: 3px solid green;
}
#inputlink {
    display:block;
}
#outputlink {
    display: none;
}
center {
    padding-top: 200px;
}
#getlink {
    background: #3884ff;
    color: white;
    border : 1px solid #166fff;
}